/*

--------------------------------------------------------------------
GENERIC 
--------------------------------------------------------------------
*/



body{
	font-family : arial;
	margin : 0px auto;
	padding : 0px;
	color : #666;
}

div{
	box-sizing: border-box;
}



h1,h2,h3,h4{
	color : #666;
	padding : 0px;
	margin : 0px;
}

h1{
	font-size:  24px;

}


h3{
	font-size : 14px;
}


.global-container{
	max-width : 1120px;
}

.no-recipes{
	display : none;
}



/*

--------------------------------------------------------------------
RECIPE LIST - SECTION CLASSES 
--------------------------------------------------------------------
*/



.align-right{
	text-align: right;
}

.header-filter{
	background : #eeeeee;
	padding : 10px;
	line-height : 20px;
	margin-bottom : 10px;
}

.header-filter input[type=text]{
	width : 100%;
}

.pagination-buttons{
	margin:20px 0px 20px 0px;		
}


.pagination-buttons input[type=button]{
	width : 50%;
	display:none;

}

.header-filter .head-cols{
		margin-bottom : 10px;
}

.recipe-listing{
	font-size : 14px;
	border-bottom : 1px solid #eeeeee;
	padding : 10px 0px 10px 0px;
	display : none;
}


.recipe-listing.display-list{
	display:block;
}


.recipe-link a{
	display :block;
}

.recipe-link a:hover{
	color : #ff0000;
}


.recipe-list .image-container{
	width 50%;
}

/*

--------------------------------------------------------------------
RECIPE DETAIL - SECTION CLASSES 
--------------------------------------------------------------------
*/

.recipe-details .recipe-name h1{
	margin : 20px 0px 20px 0px;
	font-size : 28px;	
	font-weight:bold;
}

.recipe-details h2{
	font-size : 18px;
	font-weight : bold;
	margin : 0px 0px 20px 0px;	
}

.recipe-details h3{
	font-size : 14px;
	font-weight : bold;
	margin : 0px 0px 20px 0px;		
}

.recipe-details ol{
	margin:0px;
	padding-left:30px;
}

.recipe-details ol li{
	font-size : 16px;
	font-weight : bold;
	padding-left : 10px;
	margin-bottom : 10px;
}

.recipe-details ul{
	margin:0px;
	padding-left:30px;
	list-style-type : none;
}

.recipe-details ul li{
	margin-bottom: 10px;
}


.recipe-details ol li span.prep-text{
	font-size : 14px !important;
	font-weight : normal !important;
}


.recipe-image img{
	width : 100%;
}


.recipe-details .recipe-section{
	border-top : 1px solid #dddddd;
	padding: 20px 0px 20px 0px;
}

.recipe-details .prep-group{
	padding : 20px 0px 20px 0px;
}

.container .back-bar{
	background: #EEEEEE;
	padding : 10px;
}

.back-bar span.back-arrow{
	color : #999999;
	font-size : 16px;
	font-weight:bold;
}



/*
--------------------------------------------------------------------
PORTAIT LANDSCAPE 
--------------------------------------------------------------------
*/

@media all and (max-width < 360px){

	.recipe-list .image-container{
		width 100% !important;
	}

	.recipe-details .recipe-section{
	border-top : 1px solid #dddddd;
	padding: 20px 10px 20px 10px !important;
}


}	

 