/*
--------------------------------------------------
GLOBAL VARS
--------------------------------------------------
*/


$background-color : #F5F5F5;
$table-row : #F5F5F5;
$table-td-hover-background : #4A7C9F;
$table-td-hover-font : #fff;
$font-stack : Helvetical,Arial,Webdings;
$font-size : 12px;


/*
--------------------------------------------------
MIXINS
--------------------------------------------------
*/

@mixin no-margin-no-padding{
	margin : 0px;
	padding : 0px;
}


@mixin no-list-styles{
	list-style : none;
	@include no-margin-no-padding();
}




/*
--------------------------------------------------
styles
--------------------------------------------------
*/

*{
	box-sizing : border-box;
	}

body{
	font-family : $font-stack;
	margin : 20px auto;
}

.content-container{
	background : $background-color;
	padding : 20px;
	width : 80%;
	margin : 20px auto;	
}

table#name-speed-time{
	width : 100%;	
	text-align : left;
	font-size : $font-size;
	border-collapse:collapse;

	tr{
		background : #F0F0F0;
	}

	tr:nth-child(even){
		background : #fff;
	}

	th.name-col{
		width : 60%;
	}

	th.speed,
	th.time{
		cursor: pointer;
	}


	th{
		padding : 5px 10px 5px 10px;
	}

	.speed{
		text-align :center;
	}

	.time{
		@extend .speed
	}

	td{
		margin:0px;
		border : 0px;
		padding : 5px 10px 5px 10px;	
		line-height : 20px;	
		position: relative;
	}

	td.name-col:hover{
		background: $table-td-hover-background;
		color : $table-td-hover-font;
		cursor : pointer;
	}



	.arrow-down{
		font-family : 'Arial Unicode MS';
		float : right;
		font-size : 16px;
	}

	.arrow-up{
		@extend .arrow-down;
	}

	td.name-col .arrow-down{
		display : block;
	}

	td.name-col .arrow-up{
		display : none;
	}


	td.name-col.open .arrow-down{
		display : none;
	}

	td.name-col.open .arrow-up{
		display : block;
	}

		td.name-col.open{
		background: $table-td-hover-background;	
	}
}


table#overlay-info{
	position : absolute;
	z-index : 10;
	top : 100%;
	left : 0px;
	right : -50%;
	color : $table-td-hover-font;
	border-collapse:collapse;
	width: 150%;

	th{
		background: #427091;
		border-right : 1px solid #6E96B1;	
		font-weight : normal;	
		padding: 20px 0px 20px 10px;
		font-size : 14px;
	}

	td{
		padding : 20px;
		background: $table-td-hover-background;
		border-right : 1px solid #6E96B1;
		border-bottom : 1px solid #6E96B1;
	}


	ul{
		@include no-list-styles();
		display : block;
		float : left;
	}


	ul li a{
		display : block;
		color : $table-td-hover-font;
		padding: 0px 20px 10px 0px;
		text-decoration: none;
	}	

	td.monitor-section{

		ul{
			@include no-list-styles();
			display : block;
			float : left;
		}

		p{
			margin : 0px 0px 10px 0px;
		}

		ul li{
			float : left;
		}


		ul li a{
			display : block;
			color : $table-td-hover-font;
			padding: 0px 20px 10px 0px;
			text-decoration: none;
		}	

	}

}

.overlay-table{
	display : none;
}

.overlay-container{
	display : none;
}
