/*
--------------------------------------------------
GLOBAL VARS
--------------------------------------------------
*/
/*
--------------------------------------------------
MIXINS
--------------------------------------------------
*/
/*
--------------------------------------------------
styles
--------------------------------------------------
*/
* {
  box-sizing: border-box; }

body {
  font-family: Helvetical, Arial, Webdings;
  margin: 20px auto; }

.content-container {
  background: #F5F5F5;
  padding: 20px;
  width: 80%;
  margin: 20px auto; }

table#name-speed-time {
  width: 100%;
  text-align: left;
  font-size: 12px;
  border-collapse: collapse; }
  table#name-speed-time tr {
    background: #F0F0F0; }
  table#name-speed-time tr:nth-child(even) {
    background: #fff; }
  table#name-speed-time th.name-col {
    width: 60%; }
  table#name-speed-time th.speed, table#name-speed-time th.time,
  table#name-speed-time th.time {
    cursor: pointer; }
  table#name-speed-time th {
    padding: 5px 10px 5px 10px; }
  table#name-speed-time .speed, table#name-speed-time .time {
    text-align: center; }
  table#name-speed-time td {
    margin: 0px;
    border: 0px;
    padding: 5px 10px 5px 10px;
    line-height: 20px;
    position: relative; }
  table#name-speed-time td.name-col:hover {
    background: #4A7C9F;
    color: #fff;
    cursor: pointer; }
  table#name-speed-time .arrow-down, table#name-speed-time .arrow-up {
    font-family: 'Arial Unicode MS';
    float: right;
    font-size: 16px; }
  table#name-speed-time td.name-col .arrow-down, table#name-speed-time td.name-col .arrow-up {
    display: block; }
  table#name-speed-time td.name-col .arrow-up {
    display: none; }
  table#name-speed-time td.name-col.open .arrow-down, table#name-speed-time td.name-col.open .arrow-up {
    display: none; }
  table#name-speed-time td.name-col.open .arrow-up {
    display: block; }
  table#name-speed-time td.name-col.open {
    background: #4A7C9F; }

table#overlay-info {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0px;
  right: -50%;
  color: #fff;
  border-collapse: collapse;
  width: 150%; }
  table#overlay-info th {
    background: #427091;
    border-right: 1px solid #6E96B1;
    font-weight: normal;
    padding: 20px 0px 20px 10px;
    font-size: 14px; }
  table#overlay-info td {
    padding: 20px;
    background: #4A7C9F;
    border-right: 1px solid #6E96B1;
    border-bottom: 1px solid #6E96B1; }
  table#overlay-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left; }
  table#overlay-info ul li a {
    display: block;
    color: #fff;
    padding: 0px 20px 10px 0px;
    text-decoration: none; }
  table#overlay-info td.monitor-section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left; }
  table#overlay-info td.monitor-section p {
    margin: 0px 0px 10px 0px; }
  table#overlay-info td.monitor-section ul li {
    float: left; }
  table#overlay-info td.monitor-section ul li a {
    display: block;
    color: #fff;
    padding: 0px 20px 10px 0px;
    text-decoration: none; }

.overlay-table {
  display: none; }

.overlay-container {
  display: none; }

/*# sourceMappingURL=styles.css.map */
